body{
    display: flex;
    flex-direction: column;
}

header{
    height: 170px;
    background-color: #93B5C9;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
}

div{
    height: 250px;
    width: 100%;
    background-color: #AB2849;
    margin-bottom: 20px;
}

section {
    height: 150px;
    width: 80%;
    background-color: #AB2849;
    margin: 0 0 20px 0;
}

section:nth-child(3){
    width: 40%;
    margin-right: 0.5%;
} 
section:nth-child(4) {
    width: 40%;
    margin-left: 0.5%;
}

section:nth-child(6){
    width: 40%;
    margin-right: 0.5%;
} 
section:nth-child(7) {
    width: 40%;
    margin-left: 0.5%;
}

footer {
    height: 100px;
    background-color: #AB2849;
    margin: 0 2.5%;
}